/*COLORS*/
$color-white: #fff;
$color-black: #000;
$color-blue: #312783;
$color-orange: #EB5C37;
$color-light-grey: #EFF0EA;

/*FONT FAMILY*/
$font-barlow : "Barlow-Regular";
$font-barlow-medium : "Barlow-Medium";