.main-container {
  width: 1280px;
  margin: 0 auto;
  padding: 0 3rem;

  @include for-tablet {
    width: 100%;
    padding: 0 1.3rem;
  }

  @include for-mobile {
    padding: 0 .9rem;
  }
}
.content {
  margin-top: -15rem;

  @include for-tablet {
    margin-top: -10rem;
  }

  @include for-mobile {
    margin-top: -7rem;
  }
}