/*SECTION-3*/
.third {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  position: relative;

  @include for-mobile {
    flex-direction: column;
  }

  .image-block {
    width: 840px;
    height: 530px;
    background-image: url('../images/section3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    @include for-tablet {
      height: 400px;
      width: 50%;
    }

    @include for-mobile {
      height: 250px;
      width: 100%;
    }
  }

  .text-block {
    background-color: $color-white;
    height: 460px;
    width: 595px;
    padding: 0 60px;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include for-tablet {
      height: 400px;
      width: 50%;
      padding: 0 40px;
    }

    @include for-mobile {
      position: initial;
      width: 100%;
      height: auto;
      padding: 40px 30px;
    }

    &:before {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 20px 35px 20px 0;
      border-color: transparent $color-white transparent transparent;
      content: "";
      position: absolute;
      top: 40px;
      left: -34px;
      display: block;
      z-index: 111;

      @include for-mobile {
        border-width: 0 30px 35px 30px;
        border-color: transparent transparent $color-white transparent;
        top: 216px;
        left: 20px;
        z-index: 2;
      }
    }

    h2 {
      font-family: sans-serif;
      color: $color-blue;
      font-size: 48px;
      padding-bottom: 1.5rem;
      margin-top: 1.5rem;
      text-transform: uppercase;

      @include for-tablet {
        font-size: 32px;
      }

      @include for-mobile {
        margin-top: 0;
      }
    }

    .right-list {
      padding-left: 40px;

      @include for-tablet {
        padding-left: 20px;
      }

      &-item {
        list-style: none;

        &:not(:last-child){
          padding-bottom: 10px;
        }
      }

      &-link {
        text-decoration: none;
        color: $color-orange;
        font-size: 18px;
        transition: all 0.3s ease-in;

        &:hover {
          opacity: 0.6;
        }
      }
    }

  }
}